<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${MODULE_PACKAGE}</package>
	<description>${project.parent.description}</description>

	<activator>org.openmrs.module.appointments.AppointmentsActivator</activator>

	<require_modules>
		<require_module>org.openmrs.module.webservices.rest</require_module>
		<require_module version="${openmrsAtomfeedVersion}">org.ict4h.openmrs.openmrs-atomfeed</require_module>
	</require_modules>

	<aware_of_modules>
		<aware_of_module version="${openmrsModuleFhirVersion}">org.openmrs.module.fhir2</aware_of_module>
	</aware_of_modules>

	<mappingFiles>
		Speciality.hbm.xml
		AppointmentServiceDefinition.hbm.xml
		ServiceWeeklyAvailability.hbm.xml
		Appointment.hbm.xml
		AppointmentAudit.hbm.xml
		AppointmentServiceType.hbm.xml
		AppointmentProvider.hbm.xml
		AppointmentRecurringPattern.hbm.xml
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

	<advice>
		<point>org.openmrs.module.appointments.service.AppointmentServiceDefinitionService</point>
		<class>org.openmrs.module.appointments.advice.AppointmentServiceDefinitionAdvice</class>
	</advice>

	<advice>
		<point>org.openmrs.module.appointments.service.AppointmentsService</point>
		<class>org.openmrs.module.appointments.advice.AppointmentAdvice</class>
	</advice>

	<advice>
		<point>org.openmrs.module.appointments.service.AppointmentRecurringPatternService</point>
		<class>org.openmrs.module.appointments.advice.RecurringAppointmentsAdvice</class>
	</advice>

	<globalProperty>
		<property>disableDefaultAppointmentValidations</property>
		<defaultValue>false</defaultValue>
		<description>Disable default appointment validations</description>
	</globalProperty>
	<globalProperty>
		<property>SchedulerMarksComplete</property>
		<defaultValue>false</defaultValue>
		<description>Scheduler marks checked in appointments as complete when it turned on</description>
	</globalProperty>
	<globalProperty>
		<property>SchedulerMarksMissed</property>
		<defaultValue>false</defaultValue>
		<description>Scheduler marks scheduled appointments as missed when it is turned on</description>
	</globalProperty>

	<globalProperty>
		<property>bahmni.appointment.teleConsultation.patientEmailNotificationSubject</property>
		<defaultValue>Teleconsultation appointment confirmed</defaultValue>
		<description>Subject that will be used in the mail sent to patients for Teleconsultation</description>
	</globalProperty>
	<globalProperty>
		<property>bahmni.appointment.teleConsultation.patientEmailNotificationTemplate</property>
		<defaultValue>
			Hi {0}, Your tele-consultation appointment with {1} for {2} has been scheduled! Please use this link {3}. If you have any questions, please reach out to administration for assistance. See you soon!
		</defaultValue>
		<description>Template to use while sending mail. Format is define like in Java MessageFormat</description>
	</globalProperty>
	<globalProperty>
		<property>bahmni.appointment.teleConsultation.serverUrlPattern</property>
		<defaultValue>https://meet.jit.si/{0}</defaultValue>
		<description>Pattern of the URL for the meeting server. Notice the placeholder {0} for appointment UUID</description>
	</globalProperty>
	<globalProperty>
		<property>bahmni.appointment.teleConsultation.sendEmail</property>
		<defaultValue>false</defaultValue>
		<description>Whether email should be sent for tele-consultation</description>
	</globalProperty>

</module>

