<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${MODULE_PACKAGE}</package>
	<author>Ben Wolfe</author>
	<description>
			${project.parent.description}
	</description>

	<activator>${MODULE_PACKAGE}.AppointmentsActivator</activator>
	
	<require_version>${openmrs.platform.version}</require_version>
	<mappingFiles>Speciality.hbm.xml</mappingFiles>
	<mappingFiles>AppointmentService.hbm.xml</mappingFiles>

	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${MODULE_PACKAGE}.extension.html.AdminList</class>
	</extension>

	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

